[kelvins-server]
Environment = "dev"

[kelvins-logger]
RootPath = "./logs"
Level = "debug"

[kelvins-http-server]
Network = "tcp"
ReadTimeout = 30
WriteTimeout = 30
IdleTimeout = 30

[kelvins-rpc-rate-limit]
MaxConcurrent = 0

[kelvins-rpc-auth]
Token = "c9VW6ForlmzdeDkZE2i8"
TransportSecurity = false
ExpireSecond = 100

[kelvins-rpc-server]
NumServerWorkers = 50

[kelvins-mysql]
Host = "mysql5_7:3306"
UserName = "root"
Password = "micro-mall"
DBName = "micro_mall"
Charset = "utf8mb4"
PoolNum =  10
MaxIdleConns = 5
ConnMaxLifeSecond = 3600
MultiStatements = true
ParseTime = true

[kelvins-redis]
Host = "redis:6379"
Password = "oyuioyiuoyui"
DB = 1
PoolNum = 10

[sku-inventory-search-notice]
Broker = "amqp://root:micro-mall@rabbitmq:5672/micro-mall"
DefaultQueue = "sku_inventory_search_notice"
ResultBackend = "redis://oyuioyiuoyui@redis:6379/8"
ResultsExpireIn = 3600
Exchange = "sku_inventory_search_notice"
ExchangeType = "direct"
BindingKey = "sku_inventory_search_notice"
PrefetchCount = 3
TaskRetryCount = 3
TaskRetryTimeout = 3600

[kelvins-g2cache]
CacheDebug = false
CacheMonitor = false
OutCachePubSub = false
FreeCacheSize = 52428800
RedisConfDSN = "redis:6379"
RedisConfDB = 3
RedisConfPwd = "oyuioyiuoyui"
RedisConfMaxConn = 30
PubSubRedisChannel = "micro-mall-sku-pubsub-channel"
PubSubRedisConfDSN = "redis:6379"
PubSubRedisConfDB = 5
PubSubRedisConfPwd = "oyuioyiuoyui"
PubSubRedisConfMaxConn = 3

[email-config]
Enable = false
User = "ddd@qq.com"
Password = "dddd"
Host = "smtp.qq.com"
Port = "465"

[mongodb-config]
Uri = ""
Username = "root"
Password = "micro-mall"
Database = "micro_mall_sku"
AuthSource = "admin"
MaxPoolSize = 9
MinPoolSize = 3