[kelvins-server]
Environment = "dev"

[kelvins-logger]
RootPath = "./logs"
Level = "debug"

[kelvins-http-server]
Network = "tcp"
ReadTimeout = 30
WriteTimeout = 30
IdleTimeout = 30

[kelvins-rpc-rate-limit]
MaxConcurrent = 0

[kelvins-rpc-auth]
Token = "c9VW6ForlmzdeDkZE2i8"
TransportSecurity = false
ExpireSecond = 100

[kelvins-rpc-server]
NumServerWorkers = 50

[kelvins-mysql]
Host = "127.0.0.1:3306"
UserName = "root"
Password = "ddd"
DBName = "micro_mall_sku"
Charset = "utf8mb4"
PoolNum =  10
MaxIdleConns = 5
ConnMaxLifeSecond = 3600
MultiStatements = true
ParseTime = true

[kelvins-redis]
Host = "127.0.0.1:6379"
Password = "xxx"
DB = 1
PoolNum = 10

[kelvins-g2cache]
CacheDebug = false
CacheMonitor = false
OutCachePubSub = false
FreeCacheSize = 52428800
RedisConfDSN = "127.0.0.1:6379"
RedisConfDB = 3
RedisConfPwd = "xxx"
RedisConfMaxConn = 30
PubSubRedisChannel = "micro-mall-sku-pubsub-channel"
PubSubRedisConfDSN = "127.0.0.1:6379"
PubSubRedisConfDB = 5
PubSubRedisConfPwd = "xxx"
PubSubRedisConfMaxConn = 3

[email-config]
Enable = false
User = "ddd@qq.com"
Password = "dddd"
Host = "smtp.qq.com"
Port = "465"

[mongodb-config]
Uri = "mongodb://localhost:27017"
Username = "admin"
Password = "ddddd"
Database = "micro_mall_sku"
AuthSource = "admin"
MaxPoolSize = 9
MinPoolSize = 3